<template>
  <div>
    <f7-list
        accordion-list
        v-if="certificates && certificates.length"
        v-for="(value, key) in certificates"
        :key="key"
    >
      <f7-list-item accordion-item :title="getTitle(value)">
        <f7-accordion-content>
          <f7-list-item
              class="ternary-color accordion-item-opened"
              accordion-item
              v-for="obj in value"
              :title="obj.label"
              :key="obj"
          >
            <f7-accordion-content>
              <f7-row
                  class="info"
                  :key="obj"
              >
                <f7-col sclass="title-info"/>
                <f7-col width="100" class="content-info" v-if="obj.value.startsWith('http')">
                  <a class="link-custom-ploutos" @click="navigateTo(obj.value)">{{ obj.label }}</a>
                </f7-col>
                <f7-col width="100" class="content-info" v-else>
                    {{ obj.value.replaceAll('"', "") }}
                </f7-col>
              </f7-row>
            </f7-accordion-content>
          </f7-list-item>
        </f7-accordion-content>
      </f7-list-item>
    </f7-list>
    <f7-row
        v-else
        class="info"
    >
      <f7-col sclass="title-info"/>
      <f7-col width="100" class="content-info">
        No certificates
      </f7-col>
    </f7-row>
  </div>
</template>


<script>
import { ref } from "vue";
import store from "../../js/store.js";

export default {
    setup() {
        const certificates = ref(store.state.certificates);

        const getTitle = (value) => {
          if (value && value.length) {
            const certification = value.find((item) => item.label === "Certification");
            if (certification) {
              return certification.value;
            }
          }
          return "";
        }

        const navigateTo = (value) => {
          window.open(value);
        }

        return {
          certificates,
          getTitle,
          navigateTo
        };
    },
};
</script>

<style scoped>
.info {
    padding: 12px;
    background-color: var(--icon-bg-color) !important;
}

.title-info {
    font-size: 14px;
    color: var(--secondary-letter-color);
    padding-left: 5px;
}

.content-info {
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: bold;
}

.align-right {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
}

.no-bold {
    font-weight: normal;
    size: var(--title-font-size) !important;
    color: var(--terciary-color);
}

.padding-block {
    padding: 12px;
}

.secondary-color-bg {
    background-color: var(--secondary-color);
}

.primary-color-bg {
    background-color: var(--primary-color);
}

.row {
    justify-content: initial !important;
}

.logo-container {
    width: 32px;
    height: 32px;
    display: flex;
    background-color: var(--icon-bg-color) !important;
    margin-right: 11.5px;
}

.logo {
    margin: 20% auto;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ternary-color {
    background-color: var(--ternary-color);
}

.link-custom-ploutos {
  cursor: pointer;
  text-transform: none;
}
</style>
