<template>
    <f7-page name="home">
        <f7-block class="logo-container">
            <img src="@/static/home-ploutos.png" alt="Ploutos logo" />
        </f7-block>
        <f7-block>
            <f7-block-header>
                <f7-link href="/qrscan/" class="qr-logo-container">
                    <img
                        src="@/static/icons/qr-icon.svg"
                        alt="QR icon"
                        class="qr-icon"
                    />
                </f7-link>
            </f7-block-header>
            <f7-block-footer class="qr-text">Touch to read QR</f7-block-footer>
        </f7-block>
        <f7-block class="input-container">
            <f7-card>
                <f7-card-content>
                    <f7-list no-hairlines-md>
                        <f7-list-input
                            label="Lot id"
                            floating-label
                            type="text"
                            placeholder="Lot id"
                            clear-button
                            :value="lotId"
                            @input="updateSearchValue"
                        />
                    </f7-list>
                </f7-card-content>
            </f7-card>
            <f7-card>
                <f7-button fill raised @click="getLotId(lotId)"
                    >Search</f7-button
                >
            </f7-card>
            <f7-card>
                <f7-button class="margin-top-10 bg-grey" @click="Logout()"
                    >Logout</f7-button
                >
            </f7-card>
        </f7-block>
    </f7-page>
</template>

<script>
import { ref } from "vue";
import getLot from "../services/pieService.js";
import { f7 } from "framework7-vue";

export default {
    setup(props) {
        const lotId = ref("");
        const lot = ref("");

        const updateSearchValue = ($event) =>
            (lotId.value = $event.target.value);

        const Logout = () => {
            f7.views.main.router.navigate("/login/", { reloadCurrent: true });
        };

        const getLotId = (lotId) => {
            if (lotId.trim().length > 0) {
                f7.preloader.show();
                getLot(lotId);
            } else {
                f7.dialog.alert("Wrong lot id");
            }
        };

        return {
            getLot,
            Logout,
            lotId,
            lot,
            updateSearchValue,
            getLotId,
        };
    },
};
</script>

<style scoped>
.logo-container {
    width: auto;
    height: 138px;
    display: flex;
    background-color: var(--icon-bg-color) !important;
    margin: 64px;
    justify-content: center;
}

.qr-logo-container {
    display: flex;
    margin-bottom: 0;
}

.qr-icon {
    margin: 0 auto;
}

.qr-text {
    text-align: center;
}

.input-container {
    margin-top: 64px;
}

.margin-top-10 {
    margin-top: 10px;
}
</style>
