<template>
    <f7-page name="home">
        <f7-block class="logo-container">
            <img src="@/static/home-ploutos.png" alt="Ploutos logo" />
        </f7-block>
        <f7-block>
            <f7-block class="input-container">
                <f7-card>
                    <f7-card-content>
                        <f7-list no-hairlines-md>
                            <f7-list-input
                                label="Username"
                                floating-label
                                type="text"
                                placeholder="Username"
                                :value="username.value"
                                @input="updateUsernameValue"
                                class="margin-bottom"
                                clear-button
                            />
                            <f7-list-input
                                label="Password"
                                floating-label
                                type="password"
                                placeholder="Password"
                                :value="password.value"
                                @input="updatePasswordValue"
                                clear-button
                            />
                        </f7-list>
                    </f7-card-content>
                </f7-card>
                <f7-card>
                    <f7-button fill raised @click="goHome()">Login</f7-button>
                </f7-card>
            </f7-block>
        </f7-block>
      <footer class="footer-login">
        Version 1.2.0
      </footer>
    </f7-page>
</template>

<script>
import { ref } from "vue";
import Login from "../services/auth.js";

export default {
    setup(props) {
        const username = ref("");
        const password = ref("");

        const updateUsernameValue = ($event) =>
            (username.value = $event.target.value);
        const updatePasswordValue = ($event) =>
            (password.value = $event.target.value);

        const goHome = () => {
            let payload = {
                username: username.value,
                password: password.value,
            };
            Login(payload);
        };

        return {
            Login,
            username,
            password,
            updateUsernameValue,
            updatePasswordValue,
            goHome,
        };
    },
};
</script>

<style scoped>
.logo-container {
    width: auto;
    height: 190px;
    display: flex;
    background-color: var(--icon-bg-color) !important;
    margin: 64px;
    justify-content: center;
}

.qr-logo-container {
    margin: 10% auto;
    display: flex;
    margin-bottom: 0px;
}

.qr-icon {
    margin: 0 auto;
}

.qr-text {
    text-align: center;
}

.input-container {
    margin-top: 64px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.footer-login {
  flex-shrink: 0;
  text-align: center;
  padding: 2rem;
  display: grid;
  justify-items: center;
}

</style>
