<template>
    <f7-list
        accordion-list
        v-for="(value, key) in processing_steps"
        :key="`${key}-${value}`"
    >
        <f7-list-item accordion-item :title="key.replace('_', ' ')">
            <f7-accordion-content>
                <f7-list-item
                    class="ternary-color"
                    accordion-item
                    :title="obj.start.replace('_', ' ')"
                    v-for="obj in value"
                    :key="obj"
                >
                    <f7-accordion-content>
                        <f7-row
                            class="info"
                            v-for="(value, key) in obj"
                            :key="`${key}-${value}`"
                        >
                            <f7-col width="45" class="title-info">
                                {{ key }}
                            </f7-col>
                            <f7-col width="55" class="content-info">
                                {{ value.replaceAll('"', "") }}
                            </f7-col>
                        </f7-row>
                    </f7-accordion-content>
                </f7-list-item>
            </f7-accordion-content>
        </f7-list-item>
    </f7-list>
</template>


<script>
import { ref } from "vue";
import store from "../../js/store.js";

export default {
    setup() {
        const processing_steps = ref(store.state.soil_operations);

        return {
            processing_steps,
        };
    },
};
</script>

<style scoped>
.info {
    padding: 12px;
    background-color: var(--icon-bg-color) !important;
}

.title-info {
    font-size: 14px;
    color: var(--secondary-letter-color);
    padding-left: 5px;
}

.content-info {
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: bold;
}

.align-right {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
}

.no-bold {
    font-weight: normal;
    size: var(--title-font-size) !important;
    color: var(--terciary-color);
}

.padding-block {
    padding: 12px;
}

.secondary-color-bg {
    background-color: var(--secondary-color);
}

.primary-color-bg {
    background-color: var(--primary-color);
}

.row {
    justify-content: initial !important;
}

.logo-container {
    width: 32px;
    height: 32px;
    display: flex;
    background-color: var(--icon-bg-color) !important;
    margin-right: 11.5px;
}

.logo {
    margin: 20% auto;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ternary-color {
    background-color: var(--ternary-color);
}
</style>